extends layout

block content
  h1= title
  form(action='/new' method='post')
    input(type='text' name='user_name' placeholder='Your name')
    input(type='text' name='text' placeholder='Your message')
    input(type='submit' value='Add message')
